/* CSS BY Gabriel Holmquist */

/* IMPORTED FONTS*/

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* IMPORT "INTER" FROM GOOGLE FONTS"


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
body{
    font-family: "Inter", sans-serif;
}
header{
    background-color: var(--black);
    color: var(--blue);
}
header h1{
    font-size: 3rem;
    position: relative;
    bottom: -4rem;
    left: 14rem;
    font-weight: bold;
}

/* Needed some help looked into code pen stuff */
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-button svg {
    fill: var(--charcoal);
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -12rem;
    background-color: var(--black);
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none; /* Initially hidden */
    min-width: 150px;
    border-radius: 2rem;
}

.dropdown:hover .dropdown-menu { /* Show on hover of the dropdown container */
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--blue);
    font-size: 4rem;
    
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}

.nav-container {
    position: relative;
    text-align: right;
    padding: 15px;
}

.menu-toggle {
    display: none; /* Hide the checkbox */
}

.menu-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.bar {
    width: 25rem;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    display: block;
}

.dropdown-nav {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    width: 150px;
    z-index: 1;
}

.dropdown-nav a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-nav a:hover {
    background-color: #555;
}

/* Show the dropdown when the checkbox is checked */
.menu-toggle:checked ~ .dropdown-nav {
    display: block;
}
#Innovation_Investment_Content h2{
    font-size: 4.5rem;
    font-weight: bold;
    display: block;
    padding: 3rem;
}
#Innovation_Investment_Content p{
    font-size: 2rem;
    display: block;
    bottom: 15em;
}

#Innovation_Investment a{
    background-color: var(--blue);
    position: relative;
    font-size: 3rem;
    padding: 2rem;
    bottom: -6rem;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--white);
    min-width: 745px;
}
#Innovation_Investment a:hover{
    background-color: var(--red);
    color: var(--black);
}

#Expertise_Edge h2{
    display: block;
    font-weight: bold;
    font-size: 3.5rem;
    padding: 5rem 5rem;
    margin-left: 5rem;
}
#Expertise_Edge p{
    font-size: 2rem;    
    padding: 3rem;
}
#Offer h2{
    display: block;
    font-weight: bold;
    font-size: 4rem;
    padding: 5rem 5rem;
    margin-left: 5rem;
}
#Offer div{
    background-color: var(--blue);
    padding: 4.5rem;
    margin: 3rem;
    border-radius: 3rem;
}
#Offer div h3{
    color: var(--white);
    font-size: 3.5rem;
    font-weight: bold;
    padding: 2rem;
}
#Offer div p{
    color: var(--white);
    padding: 2rem;
    font-size: 1.4rem;
}
#Results{
    background-color: var(--blue);
    padding: 5rem 0;
}
#Results h2{
    font-size: 4rem;
    padding: 4rem;
    font-weight: bold;
    color: var(--white);
}
#Results p{
    font-size: 1.6rem;
    color: var(--white);
    padding: 4rem;
}
#Results h3{
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
    padding: 4rem;
}
.profit_grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 0 3rem;
}
.item_alt_color{
    background-color: var(--charcoal);
}
.item{
    background: var(--black);
}
.profit_grid div{
    padding: 2rem 1rem;
    color: var(--white);
    text-align: center;

}
#Contact{
    background-color: var(--black);
    color: var(--white);
}
#Contact h2{
    font-size: 4rem;
    font-weight: bold;
    padding: 4rem;
}
#Contact p{
    font-size: 1.4rem;
    padding: 2rem 4rem;
}
#Contact form{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    

}
#Contact form input{
    display: block;
    width: 90%;
    font-size: 2rem;
    padding:2rem ;
    font-size: 2rem;
    border: 0.5rem solid;
    border-color: var(--blue);
}
.left{
    display: block;
    text-align: left;
    padding: 3rem;
}
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 4rem;
    text-align: center;
}



/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
body{
    min-width: 400px;
}

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#Innovation_Investment {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 5rem;
    overflow: hidden;
    color: var(--white);
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 h1:before{
    content: "";
    position: absolute;
    top: -1rem;
    left:-8rem;
    width: 5rem;
    height: 5rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: 1s;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}
.fade-in-text {
    opacity: 0; /* Initially invisible */
    transform: translateY(-20px); /* Start a bit above its final position */
    animation: fadeDownIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeDownIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* MEDIA QUERIES (MEDIUM) */ 



/* MEDIA QUERIES (LARGE) */
